html, body {
    margin: 0px;
    padding: 0px;
    height:100%;
    min-height:100%;
    background-color: #EEEEEE;
    font-family: Roboto, Noto, Segoe UI, Helvetica, Verdana, Arial;
    font-size: 20px;
    text-shadow: 0px 1px 0px #EEEEEE;
    color:#212121;
}

#container {
    position: relative;
}

.menu {
    width: 100%;
    height: 90px;

}

.player {
    float: left;
    position: relative;
    box-shadow: 5px 5px 2px #BDBDBD;
}

.player .football {    
    background-image:url(/Images/football-animation.gif);
    background-repeat:no-repeat;
    position: absolute;
    top:70px;
    width:100%;
    height:100%;
    display:none;
}

.player .time {
    position: absolute;
    bottom: 30px;
    left: 80px;
    font-size: 40px;
}

.player .name {
    font-size: 42px;
    left: 10px;
    position: absolute;
    font-weight:bold;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #aaa;

}

.player .order {
    top: 5px;
    right: 5px;
    position: absolute;
    font-size: 36px;
}

.active {
    border: solid 4px #000;
}

.pause, .reset {
    color: #fff;
    float: left;
    margin: 20px;
    background-color: #212121;
    padding: 10px;
    box-shadow: 5px 5px 2px #BDBDBD;
}

.reset {
    background-color: #B71C1C;
}

.menu .headline {
    float:right;
    margin-right:30px;
    margin-top:20px;
    font-size: 36px;
    text-shadow: 0px 1px 0px #EEEEEE;
}